# Arquivos IDE
/.idea

# Arquivos para Teste de Operação/Produção
*_processados.txt
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.bmp
*.mp3
*.mp4
*.ogg
*.aac
*.m4a
*.wav
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.csv
